################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/seat-test-plugin/v15/.suo
/.vs
